.logo-image {
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  height: auto !important;
  width: auto !important;
}

.spinner {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
